
<div class="container">
          <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-addon" (click)="d.toggle()" >
        <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
      </div>
    </div>
    <!-- First Row -->
    <div class="row">
        <h1 class="col-md-12">
          {{title}}
        </h1>
    </div>

    <!-- Second Row -->
    <div class="row">
        
        <ngb-accordion class="col-md-12" 
        [activeIds]="activeIds" 
        type="success" 
        closeOthers="true"
        (panelChange)=pannelChanged($event)
        >
          <!-- Firt pannel -->
          <ngb-panel>
            <template ngbPanelTitle>
              <span>Add a Movie</span>
            </template>
            <!-- Form content is here -->
            <template ngbPanelContent>
              <form [formGroup]="movieForm">
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.valid>danger</ngb-alert>
                <label placement="top" ngbTooltip="Title of your movie">movie_id</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.movie_id.valid>This field is required</ngb-alert>
                <input type="text" formControlName="movie_id" [(ngModel)]="movie.movie_id" name="movie_id" ><br/>
                <label>title</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.title.valid>This field is required</ngb-alert>
                <input type="text" formControlName="title" [(ngModel)]="movie.title"><br/>
                <label>phase</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.phase.valid>This field is required</ngb-alert>
                <input type="text" formControlName="phase" [(ngModel)]="movie.phase"><br/>
                <label>category_name</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.category_name.valid>This field is required</ngb-alert>
                <input type="text" formControlName="category_name" [(ngModel)]="movie.category_name"><br/>
                <label>release_year</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.release_year.valid>This field is required</ngb-alert>
                <input type="text" formControlName="release_year" [(ngModel)]="movie.release_year"><br/>
                <label>running_time</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.running_time.valid>This field is required</ngb-alert>
                <input type="text" formControlName="running_time" [(ngModel)]="movie.running_time"><br/>
                <label>rating_name</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.rating_name.valid>This field is required</ngb-alert>
                <input type="text" formControlName="rating_name" [(ngModel)]="movie.rating_name"><br/>
                <label>disc_format_name</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.disc_format_name.valid>This field is required</ngb-alert>
                <input type="text" formControlName="disc_format_name" [(ngModel)]="movie.disc_format_name"><br/>
                <label>number_discs</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.number_discs.valid>This field is required</ngb-alert>
                <input type="text" formControlName="number_discs" [(ngModel)]="movie.number_discs"><br/>
                <label>viewing_format_name</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.viewing_format_name.valid>This field is required</ngb-alert>
                <input type="text" formControlName="viewing_format_name" [(ngModel)]="movie.viewing_format_name"><br/>
                <label>aspect_ratio_name</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.aspect_ratio_name.valid>This field is required</ngb-alert>
                <input type="text" formControlName="aspect_ratio_name" [(ngModel)]="movie.aspect_ratio_name"><br/>
                <label>status</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.status.valid>This field is required</ngb-alert>
                <input type="text" formControlName="status" [(ngModel)]="movie.status"><br/>
                <label>release_date</label>
                  <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.release_date.valid>This field is required</ngb-alert>
                  <div class="input-group">
                    <input 
                    formControlName="release_date"
                    placeholder="yyyy-mm-dd"  
                    ngbDatepicker #dp="ngbDatepicker"
                    [(ngModel)]="movie.release_date">
                    <div class="input-group-addon" (click)="dp.toggle()" >
                      <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                    </div>
                  </div><br/>
                <label>budget</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.budget.valid>This field is required</ngb-alert>
                <input type="text" formControlName="budget" [(ngModel)]="movie.budget"><br/>
                <label>gross</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.gross.valid>This field is required</ngb-alert>
                <input type="text" formControlName="gross" [(ngModel)]="movie.gross"><br/>
                <label>time_stamp</label>
                <ngb-alert [dismissible]="false" type="danger" *ngIf=!movieForm.controls.time_stamp.valid>This field is required</ngb-alert>
                <input type="text" formControlName="time_stamp" [(ngModel)]="movie.time_stamp"><br/>

                <button (click)="submit()" type="submit">SUBMIT</button>
              </form>
            </template>
          </ngb-panel>
          <!-- Second pannel -->
          <ngb-panel>
            <template ngbPanelTitle>
              <span>Movies</span>
            </template>
            <!-- Movie enumeration is here -->
            <template ngbPanelContent>
              
                <ul>
                    <li *ngFor="let movie of movies">{{movie}}</li> 
                </ul>

            </template>
          </ngb-panel>
          <!-- Third pannel -->
          <ngb-panel>
            <template ngbPanelTitle>
              <span>Progress bar</span>
            </template>
            <template ngbPanelContent>
              
               <ngb-progressbar type="success" [value]="25"></ngb-progressbar>

            </template>
          </ngb-panel>
          <!-- Fourth pannel -->
          <ngb-panel>
            <template ngbPanelTitle>
              <span>Rating bar</span>
            </template>
            <template ngbPanelContent>
              
               <ngb-rating rate="5"></ngb-rating>

            </template>
          </ngb-panel>
        </ngb-accordion>

    </div>

</div>